<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Homework</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Homework</h1>
	<table>
		<tr>
			<th> ID </th>
			<th> Task </th>
			<th> Deadline </th>
			<th> Course </th>
		</tr>
		<tr th:each="homework : ${homeworks}">
			<td th:text="${homework.homeId}">id</td>
			<td th:text="${homework.task}">task</td>
			<td th:text="${homework.deadline}">deadline</td>
			<td th:text="${homework.course.name}">course</td>
			<td><a th:href="@{/deletehomework/{homeId}(homeId=${homework.homeId})}">Delete</a></td>
			<td><a th:href="@{/savehomework/{homeId}(homeId=${homework.homeId})}">Edit</a></td>
		</tr>
	</table>
	<a href="/savehomework">New Homework</a>
	<a href="/courses">Courses</a>
</body>
</html>