<!DOCTYPE HTML>
<html style=margin:4em xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title>Welcome</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<h1>Welcome [[${#httpServletRequest.remoteUser}]]!</h1>    
	</body>
	<br/>
	<br/>
	<a href="/userhomeworklist" class="btn btn-primary">Your homework</a>
	<a href="/courselist" class="btn btn-secondary">Courses</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/homeworklist" class="btn btn-info">All homework</a>
</html>